body {
  margin: 0;
  padding: 0;
  background-color: #E0E5EC;
  font-family: sans-serif;
}

.loader {
  border: 12px solid #b9c3ce;
  border-radius: 50%;
  border-top: 12px solid #dfe5ec;
  /* border-top-left-radius: 50%; */
  border-top-right-radius: 50%;
  /* border-bottom-left-radius: 50%; */
  width: 80px;
  height: 80px;
  -webkit-animation: spin 3s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  width: 98px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 4px 4px 9px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
  box-shadow: inset 4px 4px 9px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}